<tr>
<td><p>
  <%= education.course %>
</p></td>

<p>
 <td><%= education.specialization %>
</p></td>
<td><p>
<%= education.institute %>
</p></td>
<p><td> 
  <%= education.passout_year %>
</td></p>
<td>
